html, body{
    margin: 0;
    height: 100vh;
    background: #000;
}
.reservation{
    /* position: relative; */
    width: 100%;
    height: 100%;
}
.containerForm{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 178vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.show{
    visibility: visible;
}
.form, .confirmation{
    background-color: #0b1721;
    width: 25%;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: translateY(-190%);
    transition: .6s transform;
}
.confirmation{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-180%);
}
.confirmation__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.down__form{
    transform: translateY(-65%);
}
.down__confirmation{
    transform: translate(-50%,100%);
}
.input, .confirmation__input{
    width: 70%;
    height: 20px;
    margin: 18px 0;
    background: none;
    border: none;
    outline: 0px;
    color: #fff;
    border-bottom: 1px solid #c7c7c7;
}
.input--disabled{
    background-color: #c7c7c7;
    color: #0b1721;
    border: 1px solid black;
    border-radius: 5px;
}
.input--select{
    width: 71%;
    padding-top: 0;
    background-color: #0b1721;
}
.reservation__container{
    width: 80%;
    height: 450px;
    margin:10px auto;
    background-color: rgba(255, 255,255,0.25);
}
.reservation__head{
    width: 100%;
    display: flex;
    justify-content: center;
}
.reservation__button{
    margin: 10px;
    cursor: pointer;
}
.reservation__body{
    display: grid;
    grid-template-columns: 1fr;
}
.box{
    width: 95%;
    background-color: #0b1721;
    border-radius: 10px;
    margin: 5px auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5, .5fr) 1fr;
    justify-items: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: green;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    margin: 10px 5px;
    padding: 5px 10px;
}
.button__cancel{
    background-color: #d00000;
    border: none;
}
.text{
    margin: 0;
}